@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
}

:root {
  box-sizing: border-box;
  --bg-color: rgb(16, 149, 189);
  --playfair-font: 'Playfair Display', serif;
  --roboto-font: 'Roboto', sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vw;
  min-height: 100vh;
}

h2 {
  font-family: var(--playfair-font);
  font-size: 3.5rem;
  font-weight: 200;
}

h3 {
  font-family: var(--playfair-font);
  font-size: 2rem;
  font-weight: 100;
  min-width: 11.8rem;
}

/* App */
#root {
  height: 100%;
  width: 100%;
}

.App {
  width: 100%;
  position: relative;
}

/* Background Triangle */
.triangle {
  position: absolute;
  background-color: var(--bg-color);
  min-width: 0px;
  max-width: 100vw;
  height: 18rem;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.triangle:after {
  position: absolute;
  width: 100%;
  height: 18rem;
  content: '';
  background: rgb(16, 149, 189);
  box-shadow: 0 5px 4px -4px gray;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(-25deg);
}

/* Hero Content */
.header-content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  z-index: 5
}

.hero-image-container {
  position: relative;
}

.hero-image {
  max-height: 140vw;
  min-width: 0rem;
  max-width: 90vw;
}

.hero-title-div {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 90vw;
  min-width: 0rem;
  max-width: 90vw;
  z-index: 3;
}

.hero-title {
  position: relative;
  left: 1rem;
  font-family: var(--playfair-font);
  font-size: 15vw;
  font-weight: 500;
  color: white;
  text-shadow: 0px 2px 3px #848484;
  text-align: start;
  z-index: 3;
}

/* Main */
.main {
  text-align: center;
}


/* About Me */
.about-me {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.about-me-description {
  font-family: var(--roboto-font);
  font-size: 1.5rem;
  text-align: left;
  color: #4e4e4e;
  line-height: 2.2rem;
}

.social-links-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-logo {
  height: 3rem;
  cursor: pointer;
}

.linkedin {
  height: 4rem;
}

/*  My Work */
.my-work {
  margin-top: 5rem;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project-card {
  min-height: 35rem;
  min-width: 18rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.screenshot-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
  padding: 1rem;

  font-family: var(--playfair-font);
  font-size: 3.2rem;
  color: white;
}

.card-color-1 {
  background-color: rgb(131, 121, 219);
}

.card-color-2 {
  background-color: rgb(239, 151, 79);
}

.card-color-3 {
  background-color: rgb(85, 169, 81);
}

.card-color-4 {
  background-color: rgb(219, 99, 153);
}

.card-color-5 {
  background-color: rgb(73, 169, 214);
}

.card-color-6 {
  background-color: rgb(239, 79, 79);
}

.project-info {
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-name-logos-div {
  display: flex;
  align-items: center;
}

.project-link-icons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-description {
  font-family: var(--roboto-font);
  font-size: 1.2rem;
  text-align: left;
  color:#4e4e4e;
}

.project-github {
  height: 1.5rem;
}

.project-external-link {
  height: 1.7rem;
}

/* Contact Info */
.contact-me {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  background-color: var(--bg-color);
  color: white;
  padding: 1rem;
  padding-bottom: 5rem;
}

.contact-me-title {
  font-size: 3rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: var(--roboto-font);
  font-size: 1.3rem;
}

.contact-description {
  font-size: 1.4rem;
}

.doge-contact-img {
  max-width: 100vw;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  /* Heading Styles */
  h2 {
    font-family: var(--playfair-font);
    font-size: 2.5rem;
    font-weight: 200;
  }

  h3 {
    font-size: 1.5rem;
    min-width: 8.9rem;
  }

  /* Background Triangle */
  .triangle {
    height: 14rem;
  }

  .triangle:after {
    height: 14rem;
    z-index: 1;
  }

  .triangle-two {
    position: absolute;
    top: 8rem;
    width: 10vw;
    border-bottom: 35vw solid var(--bg-color);
    z-index: 1;
  }

  .triangle-three {
    position: absolute;
    top: 12rem;
    left: 20rem;
    width: 20vw;
    border-bottom: 10vw solid var(--bg-color);
    z-index: 1;
  }

  /* Hero Content */
  .header-content {
    display: block;
    position: relative;
    padding: 3rem;
    z-index: 5;
  }

  .hero-image-container {
    position: relative;
    width: 20rem;
    float: left;
    top: -1rem;
    left: -1rem;
    margin-bottom: -1rem;
    z-index: 5;
  }

  .hero-image {
    width: inherit;
  }

  .hero-title-div {
    max-width: 100vw;
    top: 5vw;
    right: 5vw;
    z-index: 10;
  }

  .hero-title {
    text-align: center;
    font-size: 5rem;
  }

  /* About Me */
  .about-me {
    display: block;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin-top: 4rem;
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 5;
  }

  .about-me-title {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .about-me-description {
    font-size: 1.3rem;
  }

  .first-socials {
    display: none;
  }

  /* My Work */
  .my-work {
    padding: 3rem;
    margin-top: -1rem;
  }

  .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .project-card {
    min-width: 10rem;
  }

  .screenshot-div {
    font-size: 3rem;
  }

  /* Contact Me */
  .footer {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: var(--bg-color);
    border: 1px solid red;
  }

  .contact-me {
    text-align: start;
  }

  .contact-me-title {
    font-size: 2.5rem;
  }

  .contact-info > * {
    font-size: 1rem;
  }

  .contact-me-socials {
    display: flex;
    justify-content: flex-start;
  }

  .doge-contact-img {
    max-width: 30rem;
    max-height: 30rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 660px) {
  .project-link-icons {
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 1rem;
  }
}